<%= form_with model: @gamecomment, local:true do |f| %>

<div>
  <%= render 'layouts/errors', obj: @gamecomment %>
</div>

<!-- 評価 -->
  <div class="form-group row" id="star">
    <%= f.label :rate,'評価 '%>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'game_comment[rate]',
    score: <%= @gamecomment.rate %>,
    half: true,

  });
  </script>

  <%= f.text_area :title %>

  <%= f.text_area :comment %>
  <div>
    <%= f.submit "編集完了", class: "btn btn-info active" %>
  </div>

<% end %>
<%= link_to '削除する', game_comment_path(@gamecomment),method: :delete, class: "btn btn-info active" %>