<%= form_with model: @gamecomment, url:game_game_comments_path, local:true do |f| %>

  <div>
    <%= render 'layouts/errors', obj: @gamecomment %>
  </div>

  <div class="form-group row" id="star">
    <%= f.label :rate,'評価 '%>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'game_comment[rate]',
    half: true,
  });
  </script>

  <%= f.text_area :title %>

  <%= f.text_area :comment %>
  <div>
    <%= f.submit "新規登録", class: "btn btn-info active" %>
  </div>

<% end %>