<h1><%= @topic.title %></h1>
<% @topic.post.each do |posts| %>
  <%= posts.user.nickname %>
<% end %>

<%= form_with model:[@topic,@post], local:true do |f| %>

<%= f.text_area :body %>
  <div>
    <%= f.submit "コメントする", class: "btn btn-info active" %>
  </div>

<% end %>
