<%= form_with model: @user, local:true do |f| %>

<div>
  <%= render 'layouts/errors', obj: @user %>
</div>
  <%= f.attachment_field :profile_image %>

    <table class="table table-borderless">

          <tbody>
            <tr>
              <th>名前</th>
              <th>
                <span class="field">
                  <%= f.text_field :last_name, autofocus: true %> <%= f.text_field :first_name %>
                </span>
              </th>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <th>メールアドレス</th>
              <th>
                <div class="field">
                  <%= f.email_field :email, :size=>"55", autofocus: true, autocomplete: "email" %>
                </div>
              </th>
            </tr>
          </tbody>

      </table>
    <div>
      <%= f.submit "変更する", class: "btn btn-info active" %>
    </div>

  </div>
</div>
<% end %>