<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= attachment_image_tag @user, :profile_image, size: '400x300', fallback: "no_image.jpg", size: "200x200" ,format: 'jpeg'%>
    </div>

    <div class="col-lg-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width:25%"><span style="font-size:20px;">ニックネーム</span></th>
            <th>
                <span style="font-size:20px;"><%= @user.nickname %>
                  <% if @user.management_permissions ==true %>
                    <span style="color:#ffcc33">★</span>
                  <% end %>
                </span>
                <% if @user == current_user %>
                  <%= link_to '編集する', edit_user_path(@user), class: "btn btn-warning"%>
                <% end %>
            </th>
          </tr>
        </tbody>
      </table>
      <h4>一言コメント</h4>
      <h4><%= simple_format(@user.comment) %></h4>
    </div>

    <div class="col-lg-12"><h1 class="like"><%= @user.nickname %>のお気に入り一覧</h1></div>

    <%= render 'layouts/index', gam: @games %>

    <div class="col-lg-12"><div class="paginate"><%= paginate @games %></div></div>
</div>
