<%= search_form_for q do |f| %>
      <%= hidden_field_tag 'genre', params[:genre] %>
      <div class="text-right">
        <span class="number">
        <%= f.search_field :name_cont %><span class="search-word">名前</span>
      </div>

      <div class="text-right">
        <span class="search-number">
        <%= f.number_field :number_min_gteq %><span class="search-word">人以上で遊べる</span>
        <%= f.number_field :play_timemax_lteq %><span class="search-word">分以内で遊べる</span>
        </span>
        <span class="search-price">
        <%= f.number_field :price_lteq %><span class="search-word">円以下</span>
        </span>
      </div>

      <div class="text-right">
         <%= select_tag :keyword, options_for_select({ "価格昇順" => "pricecheap", "価格降順" => "pricehige",
        "プレイ時間昇順" => "playtimecheap", "最大プレイ人数降順" => "playhige", "評価降順" => "evaluationhige" }) %>
        <%= f.submit "検索" %>
      </div>
<% end %>