<div class="container">
  <div class="row">
    <h3>お手軽に楽しめる</h3>

    <%= render 'search', q: @q %>

<div class="search-form">
    <%= form_with model: @game, url: soot_path, method: :get, local: true do |f| %>
      <%= f.select :keyword, options_for_select({ "価格昇順" => "pricecheap", "価格降順" => "pricehige",
      "最大プレイ人数降順" => "playhige", "プレイ時間昇順" => "playtimecheap","評価が" => "evaluationhige" }) %>
      <%= f.submit '検索' %>
    <% end %>
  </div>

    <%= render 'index', gam: @games %>


  </div>
</div>