<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3><%= Game.genres.invert[params[:genre].to_i] %></h3>
    </div>
    <div class="col-lg-8">
      <%= render 'search', q: @q %>
    </div>

     <div class="col-lg-4">
      <%= link_to '１０歳未満でも楽しめる', games_path(genre: 0), class: "btn-block btn btn-outline-warning"%>
    </div>

    <div class="col-lg-4">
      <%= link_to 'お手軽に楽しめる',  games_path(genre: 1), class: "btn-block btn btn-outline-primary"%>
    </div>

    <div class="col-lg-4">
      <%= link_to 'じっくり楽しめる',  games_path(genre: 2), class: "btn-block btn btn-outline-secondary"%>
    </div>
  <%= render 'layouts/index', gam: @games %>

  </div>
</div>