<div class="container">
  <div class="row">
    <h3>ジャンル</h3>

    <%= render 'search', q: @q %>

      <div class="flex_row">
      <% @games.each do |game| %>
      <div class="flex_column">
      <%= link_to game_path(game.id) do %>
        <div>
          <%= attachment_image_tag game, :image, size: '200x200' %>
        </div>
        <div>
          <%= game.name %>
        </div>
        <div>
          <%= game.genre %>
        </div>
        <div>
          <div id="star-rate-<%= game.id %>"></div>
          <script>
          $('#star-rate-<%= game.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score:<%= game.average_score %>
          });
          </script>
        </div>
      </div>
      <% end %>
      <% end %>
      </div>
  </div>
</div>