    <% gam.each do |game| %>
      <%= link_to game_path(game.id) do %>
        <div class="game-image">
          <%= attachment_image_tag game, :image, size: '200x200' %>
        </div>
        <span>
        <div class="text-center">
          <%= game.name %>
        </div>
        <div class="text-center">
          <div id="star-rate-<%= game.id %>"></div>
          <script>
          $('#star-rate-<%= game.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score:<%= game.average_score %>
          });
          </script>
        </div>
      <% end %>
      &emsp;
    <% end %>
    
  

