<!DOCTYPE html>
<html>
  <head>
    <title>Boardtoy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/30037d6a6c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-color">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light alert header">
        <div class="navbar-nav mr-auto">

            <% if user_signed_in? && current_user.management_permissions ==true %>
             <%= link_to new_game_path do %>
                <%= image_tag 'show.png' , :size => '160x40' %><!-- ゲーム詳細追加ページ　-->
              <% end %>
            <% end %>
        </div>
        <div class="navbar-nav">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png' , :size => '320x40' %>&emsp;<!-- ロゴ　-->
            <% end %>

            <%= link_to topics_path do %>
              <%= image_tag 'bulletinboard.png' , :size => '120x40' %>&emsp;<!-- 掲示板　-->
            <% end %>

            <% if user_signed_in? %>

              <%= link_to user_path(current_user) do %>
                <%= image_tag 'mypage.png' , :size => '120x40' %>&emsp;<!-- マイページ　-->
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= image_tag 'loguout.png' , :size => '120x40' %>&emsp;<!-- ログアウト　-->
            　<% end %>

            <% else %>
              <%= link_to new_user_registration_path do %>
                <%= image_tag 'sainup.png' , :size => '120x40' %><!-- サインアップ　-->
          　   <% end %>
              <%= link_to new_user_session_path do %>
                <%= image_tag 'loguin.png' , :size => '120x40' %><!-- ログイン　-->
          　   <% end %>

            <% end %>
        </div>
      </nav>
    </header>

    <div class="container body-down">
      <div class="body">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
